/* Base CSS styles */

html, body {
  font-family: -apple-system;
  color: #000;
  background: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  cursor: default;
}
input {
  -webkit-user-select: text;
  cursor: text;
}

.markup {
  display: inline;
}

.markdown {
  width: 100%;
  height: auto;
  display: block;
  padding: 15px 15px 70px 15px;

  font-size: 16px;

  color: inherit;
  background: inherit;
  overflow-x: hidden;
}
.markdown * {
  -webkit-user-select: text;
}
.markdown .katex {
  -webkit-user-select: none;
}
.markdown .katex * {
  -webkit-user-select: none;
}

.markdown .katex {
  display: inline-block;
  margin: 0 5px;
}
