/* Base CSS styles */

html, body {
  font-family: -apple-system;
  color: #000;
  background: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  cursor: default;
}
input {
  -webkit-user-select: text;
  cursor: text;
}
