.note-list {
  width: 100%;
  height: auto;
  display: block;
  padding: 0 5px;
}
.note-list li {
  list-style: none;
}

.note-list .folder {
  position: relative;
}
.note-list .folder ul {
  padding: 0 0 0 20px;
}
.note-list .folder > span {
  width: calc(100% - 22px);
  height: 22px;
  display: block;

  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
  text-overflow: ellipsis;

  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
}
.note-list .folder:after {
  width: 22px;
  height: 22px;
  display: block;
  position: absolute;
  top: 0;
  right: 5px;

  font-family: "fontello";
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  line-height: 24px;

  content: '\e803' /* less icon */
}
.note-list .folder.collapsed:after {
  content: '\e804' /* more icon */
}

.note-list .note {
  font-size: 18px;
  font-weight: normal;
  text-transform: capitalize;
  text-overflow: ellipsis;

  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
}
